body {
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: #7f00ff;
  background-image: linear-gradient(19deg, #7f00ff 0%, #e100ff 100%);
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font: 500 5vmin/6vmin Helvetica, Arial, sans-serif;
  position: relative;
  width: 40vmin;
  height: 40vmin;
  padding: 8vmin;
  box-sizing: border-box;
  border-radius: 1em;
  background: #000;
  margin: auto;
  cursor: pointer;
  box-shadow: 0 2vmin 2.5vmin -2vmin rgba(0, 0, 0, 0.5);
  transition: background 0.25s ease-in, color 0.25s ease-in,
    transform 0.25s ease-in 0.25s, border-radius 0.25s ease-in 0.5s;
}
.ball::before {
  content: "";
  position: absolute;
  top: 22.5%;
  left: 5%;
  width: 90%;
  height: 80%;
  border-radius: inherit;
  background: inherit;
  filter: blur(3vmin);
}
.ball::after {
  content: "";
  position: absolute;
  left: -25%;
  top: -25%;
  width: 150%;
  height: 150%;
  border: 6vmin solid #000;
  opacity: 0.25;
  box-sizing: border-box;
  border-radius: 50%;
  transform: scale(0.5);
  transition: all 0.5s ease-in;
  z-index: -10;
}
.ball span {
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25vmin;
  user-select: none;
}
.ball .large-text {
  font-size: 2.5em;
  line-height: 0.875em;
}

.ball:active {
  border-radius: 50%;
  transform: scale(0.625);
  background: #fff;
  color: navy;
  transition: border-radius 0.25s ease-out, transform 0.25s ease-out 0.25s,
    background 0.25s ease-out 0.5s, color 0.25s ease-out 0.5s;
}
.ball:active::after {
  transform: scale(1);
  border-color: #fff;
  transition: all 0.25s ease-out 0.5s;
}
